/**{outline:1px solid red} /* the * means outline everything */
/*FIX THIS*/

@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Dosis|Pontano+Sans');

body{font-family: 'Crimson Text', serif;}
nav{font-size: 1.2em;}
h1,h2,h3,h4,h5,h6,footer {font-family: 'Pontano Sans', sans-serif;}
h2{font-size: 1.35rem; color: rgb(159,117, 142)}; /*root em, one M space is 16px, 1.35 means 135% of 16px*/
p{line-height: 1.25em;}

a:link {font-family: 'Pontano Sans', sans-serif;}
a:visited {color: #000;}
a:hover {color: rgb(159,117, 142);}

.gap {padding-bottom: 60px;}
.gap1{padding-top: 30px;}
.me {line-height: 1.2em;text-align:justify;}
